swagger: "2.0"
info:
  version: "2.0.0"
  title: Fundamentals
  description: Get financials, earnings ratios, financial ratios, and company data.
host: "api.benzinga.com"
basePath: /api/v2
schemes:
  - http
  - https
produces:
  - application/json
  - application/xml
security:
  - token: []
paths:
  /fundamentals:
    get:
      summary: "Get valuation ratios, earning ratios, operation ratios, balance sheet"
      parameters:
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/symbols'
        - $ref: '#/parameters/isin'
        - $ref: '#/parameters/cik'
        - $ref: '#/parameters/asOf'
      responses:
        "200":
          description: "An object including a response array containing an array of objects containing company data"
          schema:
            $ref: '#/definitions/FundamentalsResponse'

  /fundamentals/valuationRatios:
    get:
      summary: "Returns the valuation ratios"
      parameters:
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/symbols'
        - $ref: '#/parameters/isin'
        - $ref: '#/parameters/cik'
        - $ref: '#/parameters/asOf'
      responses:
        "200":
          description: "An object including a response that includes valuationRatio data"
          schema:
            $ref: '#/definitions/FundamentalsValuationRatiosResponse'

  /fundamentals/earningRatios:
    get:
      summary: "Returns the earning ratios"
      parameters:
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/symbols'
        - $ref: '#/parameters/isin'
        - $ref: '#/parameters/cik'
        - $ref: '#/parameters/asOf'
      responses:
        "200":
          description: "An object including a response that includes valuationRatio data"
          schema:
            $ref: '#/definitions/FundamentalsEarningRatiosResponse'

  /fundamentals/operationRatios:
    get:
      summary: "Returns the operation ratios"
      parameters:
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/symbols'
        - $ref: '#/parameters/isin'
        - $ref: '#/parameters/cik'
        - $ref: '#/parameters/asOf'
      responses:
        "200":
          description: "An object including a response that includes operationRatio data"
          schema:
            $ref: '#/definitions/FundamentalsOperationRatiosResponse'

  /fundamentals/financials:
    get:
      summary: "Get the balance sheet and cashflow statement for a company. Although symbols, isin, and cik are technically optional, if no parameters are included with the response, the result will be empty"
      parameters:
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/symbols'
        - $ref: '#/parameters/isin'
        - $ref: '#/parameters/cik'
        - $ref: '#/parameters/asOf'
        - $ref: '#/parameters/period'
        - $ref: '#/parameters/reportType'
      responses:
        "200":
          description: "An object including a response array containing an array of objects containing company data"
          schema:
            $ref: '#/definitions/FundamentalsFinancialsResponse'

securityDefinitions:
  token:
    type: apiKey
    name: "token"
    in: query

definitions:
  FundamentalsResponse:
    type: object
    properties:
      result:
        type: array
        items:
          type: object
          properties:
            company:
              $ref: '#/definitions/company'
            companyProfile:
              $ref: '#/definitions/companyProfile'
            shareClass:
              $ref: '#/definitions/shareClass'
            earningsReports:
              $ref: '#/definitions/earningsReports'
            financialStatements:
              $ref: '#/definitions/financialStatements'
            valuationRatios:
              $ref: '#/definitions/valuationRatios'
            operationRatios:
              $ref: '#/definitions/operationRatios'
            alphaBeta:
              $ref: '#/definitions/alphaBeta'
            processingTimeMillis:
              type: integer
  FundamentalsEarningRatiosResponse:
    type: object
    properties:
      result:
        type: array
        items:
          $ref: '#/definitions/EarningRatiosObj'
      processingTimeMillis:
        type: integer
  
  EarningRatiosObj:
    type: object
    properties:
      company:
        $ref: '#/definitions/company'
      earningRatios: 
        type: array
        items:
          type: object
          properties:
            id:
              type: object
              properties:
                shareClassId:
                  type: string
                asOf:
                  type: string
                  format: YYY-MM-DD
                reportType:
                  type: string
                period:
                  type: string
                aorOrRestate:
                  type: string
                fiscalYearEnd:
                  type: integer
                dilutedEpsGrowth:
                  type: number
                  format: float
                  description: The growth in the company’s diluted earnings per share (EPS) on a percentage basis. Morningstar calculates the annualized growth percentage based on the underlying diluted EPS reported in the Income Statement within the company filings or reports.
                dilutedConstEpsGrowth:
                  type: number
                  format: float
                  description: The growth in the company’s diluted EPS from continuing operations on a percentage basis. Morningstar calculates the annualized growth percentage based on the underlying diluted EPS from continuing operations reported in the Income Statement within the company filings or reports.
                dpsGrowth:
                  type: number
                  format: float
                  description: The growth in the company’s dividends per share (DPS) on a percentage basis. Morningstar calculates the annualized growth percentage based on the underlying DPS from its dividend database. Morningstar collects its DPS from company filings and reports, as well as from third party sources.
                equityPerShareGrowth:
                  type: number
                  format: float
                  description: The growth in the company’s book value per share on a percentage basis. Morningstar calculates the annualized growth percentage based on the underlying equity and end of period shares outstanding reported in the company filings or reports.
                symbol:
                  type: string
                idType:
                  type: string
                id:
                  type: string
            
  FundamentalsValuationRatiosResponse:
    type: object
    properties:
      result:
        type: array
        items:
          $ref: '#/definitions/ValuationRatiosObj'
        
  ValuationRatiosObj:
    type: object
    properties:
      valuationRatios:
        type: array
        items:
          $ref: '#/definitions/ValuationRatio'
        
  ValuationRatio:
    type: object
    properties:
      id:
        type: object
        properties:
          shareClassId:
            type: string
          date:
            type: string
            format: YYYY-MM-DD
      payoutRatio:
        type: number
        format: float
        description: Dividend per share / Diluted earning per share
      sustainableGrowthRate:
        type: number
        format: float
        description: ROE * (1 – Payout Ratio)
      cashReturn:
        type: number
        format: float
        description: Refers to the ratio of free cash flow to enterprise value. Morningstar calculates the ratio by using the underlying data reported in the company filings or reports- FCF /Enterprise Value.
      salesPerShare:
        type: number
        format: float
        description: Sales / Average Diluted Shares Outstanding
      bookValuePerShare:
        type: number
        format: float
        description: Common Shareholder’s Equity / Diluted Shares Outstanding
      cfoPerShare:
        type: number
        format: float
        description: Cash Flow from Operations / Average Diluted Shares Outstanding
      fcfPerShare:
        type: number
        format: float
        description: Free Cash Flow / Average Diluted Shares Outstanding
      earningYield:
        type: number
        format: float
        description: Diluted EPS / Price
      peRatio:
        type: number
        format: float
        description: 1 / Earnings Yield. If result is negative, then null
      salesYield:
        type: number
        format: float
        description: SalesPerShare / Price
      psRatio:
        type: number
        format: float
        description: 1 / SalesYield. If result is negative, then null
      bookValueYield:
        type: number
        format: float
        description: BookValuePerShare / Price
      pbRatio:
        type: number
        format: float
        description: 1 / BookValueYield. If result is negative, then null
      cfYield:
        type: number
        format: float
        description: CFOPerShare / Price
      pcfRatio:
        type: number
        format: float
        description: 1 / CFYield If result is negative, then null
      fcfYield:
        type: number
        format: float
        description: FCFPerShare / Price
      fcfRatio:
        type: number
        format: float
        description: 1 / FCFYield If result is negative, then null
      trailingDividendYield:
        type: number
        format: float
        description: The opposite of forward divident yield
      forwardDividendYield:
        type: number
        format: float
        description: (Current Dividend Per Share * Payout Frequency) / Price
      forwardEarningYield:
        type: number
        format: float
        description: Estimated Earnings Per Share / Price. Note-  The “Next” Year’s EPS Estimate is used; For instance, if today’s actual date is March 1, 2009, the “Current” EPS Estimate for MSFT is June 2009, and the “Next” EPS Estimate for MSFT is June 2010; the latter is used. The eps estimated data is sourced from a third party.
      forwardPeRatio:
        type: number
        format: float
        description: 1 / ForwardEarningYield If result is negative, then null
      pegRatio:
        type: number
        format: float
        description: ForwardPERatio / Long-term Average Earning Growth Rate
      pegPayback:
        type: number
        format: float
        description: The number of years it would take for a company's cumulative earnings to equal the stock's current trading price, assuming that the company continues to increase its annual earnings at the growth rate used to calculate the PEG ratio.
      tangibleBookValuePerShare:
        type: number
        format: float
        description: The company’s total book value less the value of any intangible assets dividend by number of shares.
      tangibleBvPerShare3YrAvg:
        type: number
        format: float
        description: The three year average for tangible book value per share.
      tangibleBvPerShare5YrAvg:
        type: number
        format: float
        description: The five year average for tangible book value per share.
      forwardDividend:
        type: number
        format: float
        description: Estimation of a year's dividend expressed as a percentage of current stock price.
      workingCapitalPerShare:
        type: number
        format: float
        description: (Current Assets – Current Liabilities)/number of shares
      workingCapitalPerShare3YrAvg:
        type: number
        format: float
        description: The three year average for working capital per share.
      workingCapitalPerShare5YrAvg:
        type: number
        format: float
        description: The five year average for working capital per share.
      evToEbitda:
        type: number
        format: float
        description: A financial ratio that measures a company's return on investment (ROI).
      buyBackYield:
        type: number
        format: float
        description: Ratio of outstanding shares that reduces the number of its shares on the open market.
      totalYield:
        type: number
        format: float
        description: Ratio of dividend yield plus the net share buyback percentage.
      ratioPe5YearAverage:
        type: number
        format: float
        description: Average ratio of price to earnings yield over five years.
      priceChange1M:
        type: number
        format: float
        description: Change in price
      normalizedPeRatio:
        type: number
        format: float
        description: Smoothed ratio of price to earnings using a formula that normalizes the volatility.
      pricetoEbitda:
        type: number
        format: float
        description: Ratio of stock price to per share Earnings Before Interest, Taxes, Depreciation and Amortization.

  FundamentalsOperationRatiosResponse:
    type: object
    properties:
      result:
        type: array
        items:
          $ref: '#/definitions/OperationRatiosObj'

  OperationRatiosObj:
    type: object
    properties:
      company:
        $ref: '#/definitions/company'
      operationRatios:
        type: object
        properties:
          3M:
            $ref: '#/definitions/operationRatio'
          6M:
            $ref: '#/definitions/operationRatio'
          9M:
            $ref: '#/definitions/operationRatio'
          1Y:
            $ref: '#/definitions/operationRatio'

  FundamentalsFinancialsResponse:
    type: object
    properties:
      result:
        type: array
        items:
          type: object
          properties:
            company:
              $ref: '#/definitions/company'
            financials:
              $ref: '#/definitions/financials'
  company:
    type: object
    properties:
      primarySymbol:
        type: string
      primaryExchange:
        type: string
      cik:
        type: string
      valoren:
        type: string
      sedol:
        type: string
      standardName:
        type: string

  companyProfile:
    type: object
    properties:
      companyStatus:
        type: string
        description: Status of company
      countryId:
        type: string
        description: Identifier of country the company HQ is based.
      fiscalYearEnd:
        type: string
        description: The Month of the company’s latest fiscal year.
      shortName:
        type: string
        description: Abbreviated name of company
      standardName:
        type: string
        description: Standard name of company
      address1:
        type: string
        description: Address of company HQ
      city:
        type: string
        description: City of company HQ
      country:
        type: string
        description: Country of company HQ.
      fax:
        type: string
        description: Fax number of company
      homepage:
        type: string
        description: Url of company website
      phone:
        type: string
        description: Phone number of company
      postalCode:
        type: string
        description: Postal code of company HQ
      province:
        type: string
        description: Province of company HQ
      legalName:
        type: string
        description: Legal name of company
      shortDescription:
        type: string
        description: Short description of company
      longDescription:
        type: string
        description: Long description of company

  shareClass:
    type: object
    properties:
      currency:
        type: string
      ipoDate:
        type: string
        format: Unix timestamp
      isDepositaryRecipt:
        type: boolean
      isPrimary:
        type: boolean
      securityType:
        type: string
      enterpriseValue:
        type: integer
      marketCap:
        type: integer
      
  earningsReports:
    type: object
    properties:
      6M:
        $ref: '#/definitions/earningsReport'
      3M:
        $ref: '#/definitions/earningsReport'
      12M:
        $ref: '#/definitions/earningsReport'

  earningsReport:
    type: object
    properties:
      period:
        type: string
      asOf:
        type: string
      reportType:
        type: string
      currency:
        type: string
      fiscalYearEnd:
        type: string
      basicContinuousOperations:
        type: number
        format: float
        description: Basic EPS from Continuing Operations is the earnings from continuing operations reported by the company divided by the weighted average number of common shares outstanding.
      continuingAndDiscontinuedBasicEPS:
        type: number
        format: float
        description: Basic EPS from Continuing Operations plus Basic EPS from Discontinued Operations.
      continuingAndDiscontinuedDilutedEPS:
        type: number
        format: double
        description: Diluted EPS from Continuing Operations plus Diluted EPS from Discontinued Operations.
      dilutedAverageShares:
        type: integer
        format: int64
        description: The shares outstanding used to calculate the diluted EPS, assuming the conversion of all convertible securities and the exercise of warrants or stock options. It is the weighted average diluted share outstanding through the whole accounting period. Note- If Diluted Average Shares are not presented by the firm in the Income Statement and Basic Average Shares are presented, Diluted Average Shares will equal Basic Average Shares. However, if neither value is presented by the firm, Diluted Average Shares will be null.
      dilutedContinuousOperations:
        type: integer
        format: int64
        description: Diluted EPS from Continuing Operations is the earnings from continuing operations divided by the common shares outstanding adjusted for the assumed conversion of all potentially dilutive securities. Securities having a dilutive effect may include convertible debentures, warrants, options, and convertible preferred stock.
      dilutedEPS:
        type: number
        format: float
        description: Diluted EPS is the bottom line net income divided by the common shares outstanding adjusted for the assumed conversion of all potentially dilutive securities. Securities having a dilutive effect may include convertible debentures, warrants, options, and convertible preferred stock. This value will be derived when not reported for the fourth quarter and will be less than or equal to Basic EPS.
      dividendPerShare:
        type: number
        format: float
        description: The amount of dividend that a stockholder will receive for each share of stock held. It can be calculated by taking the total amount of dividends paid and dividing it by the total shares outstanding. Dividend per share = total dividend payment/total number of outstanding shares
      basicAverageShares:
        type: integer
        format: int64
        description: The shares outstanding used to calculate Basic EPS, which is the weighted average common share outstanding through the whole accounting period. If Basic Average Shares are not presented by the firm in the Income Statement, this data point will be null.
    
  financialStatements:
    type: object
    properties:
      6M:
        $ref: '#/definitions/financialStatement'
      3M:
        $ref: '#/definitions/financialStatement'   
      12M:
        $ref: '#/definitions/financialStatement'

  financialStatement:
    type: object
    properties:
      cashFlowStatement:
        type: object
        properties:
          income:
            type: integer
            format: int64
          changeInReceivables:
            type: integer
            format: int64
            description: The increase or decrease between periods of the receivables. Receivables are amounts due to be paid to the company from clients and other.
          changesInAccountReceivables:
            type: integer
            format: int64
            description: The increase or decrease between periods of the accounts receivables.
          changeInInventory:
            type: integer
            format: int64
            description: The increase or decrease between periods of the Inventories. Inventories represent merchandise bought for resale and supplies and raw materials purchased for use in revenue producing operations.
          changeInOtherWorkingCapital:
            type: integer
            format: int64
            description: The increase or decrease between periods of the other working capital.
          capitalExpenditure:
            type: integer
            format: int64
            description: Funds used by a company to acquire or upgrade physical assets such as property, industrial buildings or equipment. This type of outlay is made by companies to maintain or increase the scope of their operations. Capital expenditures are generally depreciated or depleted over their useful life, as distinguished from repairs, which are subtracted from the income of the current year.
          jcashDividendsPaid:
            type: integer
            format: int64
            description: Payments for the cash dividends declared by an entity to shareholders during the period. This element includes paid and unpaid dividends declared during the period for both common and preferred stock.
          freeCashFlow:
            type: integer
            format: int64
            description: Cash Flow Operations plus Capital Expenditures.
          financingCashFlow:
            type: integer
            format: int64
            description: The net cash inflow (outflow) from financing activity for the period, which involve changes to the long-term liabilities and stockholders’ equity. 
          changesInCash:
            type: integer
            format: int64
            description: The net change between the beginning and ending balance of cash and cash equivalents.
      asOf:
        type: string
        format: YYYYMMDD
      incomeStatement:
        type: object
        properties:
          revenue:
            type: integer
            format: int64
          costOfRevenue:
            type: integer
            format: int64
            description: The aggregate cost of goods produced and sold and services rendered during the reporting period. It excludes all operating expenses such as depreciation, depletion, amortization, and SG&A. For the must have cost industry, if the number is not reported by the company, it will be calculated based on accounting equation. Cost of Revenue = Revenue – Operating Expenses – Operating Profit
          grossProfit:
            type: integer
            format: int64
            description: Total revenue less cost of revenue. The number is as reported by the company on the income statement; however, the number will be calculated if it is not reported. This field is null if the cost of revenue is not given. Gross Profit = Total Revenue – Cost of Revenue.
          researchAndDevelopment:
            type: integer
            format: int64
            description: The aggregate amount of research and development expenses.
          EBITDA:
            type: integer
            format: int64
            description: Earnings minus expenses (excluding interest, tax, depreciation, and amortization expenses).
          operatingIncome:
            type: integer
            format: int64
            description: Income from normal business operations after deducting cost of revenue and operating expenses. It does not include income from any investing activities.
          sellingGeneralAndAdministration:
            type: integer
            format: int64
            description: The aggregate total costs related to selling a firm's product and services, as well as all other general and administrative expenses. Selling expenses are those directly related to the company’s efforts to generate sales (e.g., sales salaries, commissions, advertising, delivery expenses). General and administrative expenses are expenses related to general administration of the company’s operation (e.g., officers and office salaries, office supplies, telephone, accounting and legal services, and business licenses and fees).
          netIncomeContinuousOperations:
            type: integer
            format: int64
            description: Revenue less expenses and taxes from the entity's ongoing operations and before income (loss) from Preferred Dividends; Extraordinary Gains and Losses; Income from Cumulative Effects of Accounting Change; Discontinuing Operation; Income from Tax Loss Carry forward; Other Gains/Losses.
          otherIncomeExpense:
            type: integer
            format: int64
            description: Income or expense that comes from miscellaneous sources.
          netIncome:
            type: integer
            format: int64
            description: The profit or loss of the entity net of income taxes for the reporting period calculated and presented in the income statement in accordance with GAAP.
          netIncomeCommonStockholders:
            type: integer
            format: int64
            description: Net income minus the preferred dividends paid as presented in the Income Statement.

  valuationRatios:
    type: object
    properties:
      bookValuePerShare:
        type: number
        format: float
        description: Common Shareholder’s Equity / Diluted Shares Outstanding
      bookValueYield:
        type: number
        format: float
        description: BookValuePerShare / Price
      CFYield:
        type: number
        format: float
        description: CFOPerShare / Price
      cashReturn:
        type: number
        format: float
        description: Refers to the ratio of free cash flow to enterprise value. Morningstar calculates the ratio by using the underlying data reported in the company filings or reports. FCF /Enterprise Value. This number tells you what cash return you would get if you bought the entire company, including its debt. [Note- Enterprise Value = Market Cap + Preferred stock + Long-Term Debt And Capital Lease + Short Term Debt And Capital Lease + Securities Sold But Not Yet Repurchased - Cash, Cash Equivalent And Market Securities - Securities Purchased with Agreement to Resell - Securities Borrowed]
      dividendYield:
        type: number
        format: float
        description: Dividends Per Share over the trailing 12 months / Price
      earningYield:
        type: number
        format: float
        description: Diluted EPS / Price
      FCFPerShare:
        type: number
        format: float
        description: Free Cash Flow / Average Diluted Shares Outstanding
      FCFRatio:
        type: number
        format: float
        description: 1 / FCFYield. If result is negative, then null
      FCFYield:
        type: number
        format: float
        description: FCFPerShare / Price
      forwardEarningYield:
        type: number
        format: float
        description: Estimated Earnings Per Share / Price Note- a) The “Next” Year’s EPS Estimate is used; For instance, if today’s actual date is March 1, 2009, the “Current” EPS Estimate for MSFT is June 2009, and the “Next” EPS Estimate for MSFT is June 2010; the latter is used. b) The eps estimated data is sourced from a third party. 
      forwardPERatio:
        type: number
        format: float
        description: 1 / ForwardEarningYield. If result is negative, then null
      PBRatio:
        type: number
        format: float
        description: 1 / BookValueYield. If result is negative, then null
      PCFRatio:
        type: number
        format: float
        description: 1 / CFYield. If result is negative, then null 
      PEGPayback:
        type: number
        format: float
        description: The number of years it would take for a company's cumulative earnings to equal the stock's current trading price, assuming that the company continues to increase its annual earnings at the growth rate used to calculate the PEG ratio. [ Log (PG/E + 1) / Log (1 + G) ] - 1 Where P = Price, E = Next Fiscal Year’s Estimated EPS, G = Long-term Average Earning Growth
      PERatio:
        type: number
        format: float
        description: 1 / Earnings Yield. If result is negative, then null
      PSRatio:
        type: number
        format: float
        description: 1 / SalesYield. If result is negative, then null
      payoutRatio:
        type: number
        format: float
        description: Dividend per share / Diluted earning per share
      salesPerShare:
        type: number
        format: float
        description: Sales / Average Diluted Shares Outstanding
      salesYield:
        type: number
        format: float
        description: SalesPerShare / Price
      sustainableGrowthRate:
        type: number
        format: float
        description: ROE * (1 – Payout Ratio)

  operationRatios:
    type: object
    properties:
      9M: 
        $ref: '#/definitions/operationRatio'
      6M:
        $ref: '#/definitions/operationRatio'
      1Y: 
        $ref: '#/definitions/operationRatio'
      3M: 
        $ref: '#/definitions/operationRatio'
    description: Different periods may be returned for different companies

  operationRatio:
    type: object
    description: Some periods might not include all fields
    properties:
      period:
        type: string
      fiscalYearEnd:
        type: string
      reportType:
        type: string
      assetsTurnover:
        type: number
        format: float
        description: Revenue / Average Total Assets
      capExSalesRatio:
        type: number
        format: float
        description: Capital Expenditure / Revenue
      cashConversionCycle:
        type: number
        format: float
        description: Days In Inventory + Days In Sales – Days In Payment
      daysInInventory:
        type: number
        format: float
        description: 365 / Inventory turnover
      daysInPayment:
        type: number
        format: float
        description: 365 / Payable turnover
      daysInSales:
        type: number
        format: float
        description: 365 / Receivable Turnover
      EBITDAMargin:
        type: number
        format: float
        description: Refers to the ratio of earnings before interest, taxes and depreciation and amortization to revenue. Morningstar calculates the ratio by using the underlying data reported in the company filings or reports EBITDA / Revenue.
      EBITMargin:
        type: number
        format: float
        description: Refers to the ratio of earnings before interest and taxes to revenue. Morningstar calculates the ratio by using the underlying data reported in the company filings or reports EBIT / Revenue.
      FCFNetIncomeRatio:
        type: number
        format: float
        description: Free Cash Flow / Net Income
      FCFSalesRatio:
        type: number
        format: float
        description: Free Cash flow / Revenue
      fixAssetTurnover:
        type: number
        format: float
        description: Revenue / Average PP&E
      grossMargin:
        type: number
        format: float
        description: Refers to the ratio of gross profit to revenue. Morningstar calculates the ratio by using the underlying data reported in the company filings or reports. (Revenue – Cost of Goods Sold) / Revenue.
      interestCoverage:
        type: number
        format: float
        description: Ratio used to determine how easily a company can pay their interest expenses on outstanding debt. T
      netIncomeContOpsGrowth:
        type: number
        format: float
        description: The growth in the company’s net income from continuing operations on a percentage basis. Morningstar calculates the growth percentage based on the underlying net income from continuing operations data reported in the Income Statement within the company filings or reports. This figure represents the rate of net income growth for parts of the business that will continue to generate revenue in the future.
      netIncomeGrowth:
        type: number
        format: float
        description: The growth in the company’s net income on a percentage basis. Morningstar calculates the growth percentage based on the underlying net income data reported in the Income Statement within the company filings or reports.
      netMargin:
        type: number
        format: float
        description: Refers to the ratio of net income to revenue. Morningstar calculates the ratio by using the underlying data reported in the company filings or reports. Net Income / Revenue.
      normalizedNetProfitMargin:
        type: number
        format: float
        description: Normalized Income / Total Revenue. A measure of profitability of the company calculated by finding Normalized Net Profit as a percentage of Total Revenues.
      operationIncomeGrowth:
        type: number
        format: float
        description: Ratio of growth of operating income.
      operationMargin:
        type: number
        format: float
        description: Refers to the ratio of operating income to revenue. Morningstar calculates the ratio by using the underlying data reported in the company filings or reports. Operating Income / Revenue.
      operationRevenueGrowth3MonthAvg:
        type: number
        format: float
        description: The growth in the company’s operating revenue on a percentage basis. Morningstar calculates the growth percentage based on the underlying operating revenue data reported in the Income Statement within the company filings or reports.
      pretaxMargin:
        type: number
        format: float
        description: Refers to the ratio of pretax income to revenue. Morningstar calculates the ratio by using the underlying data reported in the company filings or reports. Pretax Income / Revenue.
      quickRatio:
        type: number
        format: float
        description: Refers to the ratio of liquid assets to Current Liabilities. Morningstar calculates the ratio by using the underlying data reported in the Balance Sheet within the company filings or reports. ( Cash, Cash Equivalents, and ShortTerm Investments + Receivables ) / Current Liabilities.
      ROA:
        type: number
        format: float
        description: Net Income / Average Total Assets
      ROE:
        type: number
        format: float
        description: Net Income / Average Total Common Equity
      ROIC:
        type: number
        format: float
        description: Net Income / (Total Equity + Long-term Debt and Capital Lease Obligation + Short-term Debt and Capital Lease Obligation)
      receivableTurnover:
        type: number
        format: float
        description: Revenue / Average Accounts Receivables
      revenueGrowth:
        type: number
        format: float
        description: The growth in the company’s revenue on a percentage basis. Morningstar calculates the growth percentage based on the underlying revenue data reported in the Income Statement within the company filings or reports.
      salesPerEmployee:
        type: number
        format: float
        description: Refers to the ratio of Revenue to Employees. Morningstar calculates the ratio by using the underlying data reported in the company filings or reports. Revenue / Employee Number.
      taxRate:
        type: number
        format: float
        description: Refers to the ratio of tax provision to pretax income. Morningstar calculates the ratio by using the underlying data reported in the company filings or reports. Tax Provision / Pretax Income. Valid only when positive pretax income, and positive tax expense (not tax benefit)
      totalDebtEquityRatio:
        type: number
        format: float
        description: Refers to the ratio of Current Debt and Long Term Debt to Common Equity. Morningstar calculates the ratio by using the underlying data reported in the Balance Sheet within the company filings or reports. (Current Debt And Current Capital Lease Obligation + Long-Term Debt And Long-Term Capital Lease Obligation / Common Equity.  Common Equity = Total Shareholder’s Equity – Preferred Stock

  alphaBeta:
    type: object
    properties:
      "60M":
        $ref: '#/definitions/alphaBetaObj'
      "120M":
        $ref: '#/definitions/alphaBetaObj'
      "36M":
        $ref: '#/definitions/alphaBetaObj'

  alphaBetaObj:
    type: object
    properties:
      period:
        type: string
      asOf:
        type: string
      alpha:
        type: number
        format: double
      beta:
        type: number
        format: double

  financials:
    type: array
    items:
      $ref: '#/definitions/financial'
    
  financial:
    type: object
    properties:
      asOf:
        type: string
      period:
        type: string
      reportType:
        type: string
      aorOrRestate:
        type: string
      balanceSheet:
        type: object
        properties:
          id:
            type: object
            properties:
              companyId:
                type: string
              asOf:
                type: string
              reportType:
                type: string
              period:
                type: string
              aorOrRestate:
                type: string
          fiscalYearEnd:
            type: integer
          currencyId:
            type: string
          isCalculated:
            type: boolean
          periodEndingDate:
            type: string
            description: The exact date that is given in the financial statements for each quarter’s end.
          accountsPayable:
            type: integer
            description: Any money that a company owes its suppliers for goods and services purchased on credit and is expected to pay within the next year or operating cycle.
          accountsReceivable:
            type: integer
            description: Accounts owed to a company by customers within a year as a result of exchanging goods or services on credit.
          currentAccruedExpences:
            type: integer
            description: An expense recognized before it is paid for. Includes compensation, interest, pensions and all other miscellaneous accruals reported by the company. Expenses incurred during the accounting period, but not required to be paid until a later date.
          accumulateDepreciation:
            type: integer
            description: The cumulative amount of wear and tear or obsolescence charged against the fixed assets of a company.
          additionalPaidInCapital:
            type: integer
            description: Excess of issue price over par or stated value of the entity's capital stock and amounts received from other transactions involving the entity's stock or stockholders. Includes adjustments to additional paid in capital. There are two major categories of additional paid in capital- 1) Paid in capital in excess of par/stated value, which is the difference between the actual issue price of the shares and the shares’ par/stated value. 2) Paid in capital from other transactions which includes treasury stock, retirement of stock, stock dividends recorded at market, lapse of stock purchase warrants, conversion of convertible bonds in excess of the par value of the stock, and any other additional capital from the company’s own stock transactions.
          capitalStock:
            type: integer
            description: The total amount of stock authorized for issue by a corporation, including common and preferred stock.
          cashAndCashEquivalents:
            type: integer
            description: Includes unrestricted cash on hand, money market instruments and other debt securities which can be converted to cash immediately.
          cashCashEquivalentAndMarketableSecurities:
            type: integer
            description: The aggregate amount of cash, cash equivalents, and marketable securities.
          commonStock:
            type: integer
            description: Common stock (all issues) at par value, as reported within the Stockholder’s Equity section of the balance sheet; i.e. it is one component of Common Stockholder’s Equity
          currentAssets:
            type: integer
            description: The total amount of assets considered to be convertible into cash within a relatively short period of time, usually a year.
          currentDebtAndCapitalLeaseOblication:
            type: integer
            description: All borrowings due within one year including current portions of long-term debt and capital leases as well as short-term debt such as bank loans and commercial paper.
          currentLiabilities:
            type: integer
            description: The debts or obligations of the firm that are due within one year.
          currentCapitalLeaseObligation:
            type: integer
            description: Represents the total amount of long-term capital leases that must be paid within the next accounting period. Capital lease obligations are contractual obligations that arise from obtaining the use of property or equipment via a capital lease contract.
          nonCurrentDeferredLiabilities:
            type: integer
            description: Represents the non-current portion of obligations, which is a liability that usually would have been paid but is now past due.
          currentDeferredLiabilities:
            type: integer
            description: Represents the current portion of obligations, which is a liability that usually would have been paid but is now past due.
          currentDeferredRevenue:
            type: integer
            description: Represents collections of cash or other assets related to revenue producing activity for which revenue has not yet been recognized. Generally, an entity records deferred revenue when it receives consideration from a customer before achieving certain criteria that must be met for revenue to be recognized in conformity with GAAP. It can be either current or non-current item. Also called unearned revenue.
          nonCurrentDeferredRevenue:
            type: integer
            description: The non-current portion of deferred revenue amount as of the balance sheet date. Deferred revenue is a liability related to revenue producing activity for which revenue has not yet been recognized, and is not expected be recognized in the next twelve months.
          grossPpe:
            type: integer
            description: Carrying amount at the balance sheet date for long-lived physical assets used in the normal conduct of business and not intended for resale. This can include land, physical structures, machinery, vehicles, furniture, computer equipment, construction in progress, and similar items. Amount does not include depreciation.
          inventory:
            type: integer
            description: A company's merchandise, raw materials, and finished and unfinished products which have not yet been sold.
          longTermDebt:
            type: integer
            description: Sum of the carrying values as of the balance sheet date of all long-term debt, which is debt initially having maturities due after one year or beyond the operating cycle, if longer, but excluding the portions thereof scheduled to be repaid within one year or the normal operating cycle, if longer. Long-term debt includes notes payable, bonds payable, mortgage loans, convertible debt, subordinated debt and other types of long term debt.


parameters:
  accept:
    name: accept
    in: header
    description: Specifies return format
    type: string
    enum:
      - application/json
      - application/xml
  symbols:
    name: symbols
    in: query
    description: One or more stock ticker symbol in comma separated list specifies company data to return
    type: string
    format: csv
  isin:
    name: isin
    in: query
    description: One or more isin identifier in comma separated list specifies company data to return
    type: string
    format: csv
  cik:
    name: cik
    in: query
    description: One or more cik identifier in comma separated list specifies company data to return
    type: string
    format: csv
  asOf:
    name: asOf
    in: query
    description: Return results for dates greater than or equal date specified in this parameter
    type: string
    format: YYYY-MM-DD
    required: false
  period:
    name: period
    in: query
    description: Specifies the time period of the returned results
    type: string
    default: ALL
    enum:
      - 3M
      - 6M
      - 9M
      - 12M
      - 1Y
      - ALL
      - TTM
    required: false
  reportType:
    name: reportType
    in: query
    description: TTM, A (as originally reported), R (restated). P (Preliminary anouncements)
    type: string
    default: A
    enum:
      - TTM
      - A
      - R
      - P
    required: false
