---
swagger: '2.0'
info:
  version: '1.0.0'
  title: Corporate Logos
  description: >-
    The Benzinga Corporate Logo API is designed to be flexible with client
    sizing requirements. Custom filters can be applied to resize the logos and
    each logo returns a variety of identifiers like isin and cusip.
host: api.benzinga.com
basePath: /api/v1
schemes:
  - https
  - http
produces:
  - application/json
  - application/xml
securityDefinitions:
  token:
    type: apiKey
    name: token
    in: query
paths:
  /logos:
    get:
      summary: Logos for market securities
      parameters:
        - in: header
          name: accept
          enum:
            - application/xml
            - application/json
          default: application/json
          description: Specifies return format
          required: false
          type: string
        - in: query
          name: symbols
          description: >-
            A list of ticker symbols separated by a comma (,). Limit 50 tickers
            per request.
          required: true
          type: string
        - in: query
          name: filters
          description: >-
            A list of client-specific filters to be applied. Filters are
            separated by a comma (,).
          required: false
          type: string
      security:
        - token: []
      responses:
        '200':
          description: Successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/logos'
definitions:
  logos:
    type: object
    required:
      - security
      - files
    properties:
      created:
        type: integer
        format: int64
        description: 'Created timestamp, UTC'
      updated:
        type: integer
        format: int64
        description: 'Last updated timestamp, UTC'
      files:
        $ref: '#/definitions/files'
      security:
        $ref: '#/definitions/security'
  security:
    type: object
    required:
      - cik
      - name
      - exchange
      - symbol
    properties:
      symbol:
        type: string
        description: Abbreviated name of listed security
      cik:
        type: integer
        format: int64
        description: Identifier of security
      name:
        type: string
        description: Name of security
      exchange:
        type: string
        description: Name of exchange the security is listed on
  files:
    type: object
    required:
      - original
      - 90x60_white
      - 90x60_grayscale
    properties:
      original:
        type: string
        description: URI of original file
      90x60_white:
        type: string
        description: >-
          URI of resized 90x60 logo, full color with a white or transparent
          background
      90x60_grayscale:
        type: string
        description: >-
          URI of resized resized 90x60 logo, grayscaled with a white or
          transparent background
      CUSTOM_FILTER:
        type: string
        description: One or most custom filters
